<div align="center">
<table  width="95%" cellspacing="1" cellpadding="0" align="center">
<thead>

 <tr bgcolor="#f38001">
 <th>Winner Point</th>
 <th>Looser Point</th>
 </tr>
</thead>
<tbody>
 
 <tr class="<%= cycle('oddrow', 'evenrow') %>">
 <td valign="top"><% winner_points%>  </td>
 <td valign="top"><% looser_points%>  </td>
 </tbody> 
</div> 