<h2>Tournaments</h2>
<% for tournament in @tournaments %>
<div id="leftColumn">
  <a href="">
    <div style="width: 100px; height: 60px; border:1px solid #000;background-color:#FFF; margin-bottom:5px; padding:10px; font-weight:bold; text-align:center;" id="box1">
      <%= tournament.name %><br/><%= tournament.city %>
    </div>
  </a>
</div>
<% end %>
