<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
"http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<title>Bulldog Tennis League</title>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">
<style type="text/css">
<!--
body {
	margin-left: 0px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
}
-->
</style>
<link href="/stylesheets/style.css" rel="stylesheet" type="text/css">
</head>

<body>
<table width="1000px"  border="0" align="center" cellpadding="0" cellspacing="0">
  <tr >
    <td colspan="3" background="/images/top_bg.jpg"><table width="950" border="0" align="center" cellpadding="0" cellspacing="0">
      <tr>
        <td width="116"><img src="/images/logo.png" width="168" height="194"></td>
        <td width="834"><table width="100%"  border="0" cellspacing="0" cellpadding="0">
          <tr>
            <td width="479" align="right"><img src="/images/wherewinning_text.png" width="300" height="87"></td>
            <td width="25">&nbsp;</td>
            <td width="278" height="182" background="/images/login_bg.png">
             
              <table width="100%"  border="0" cellspacing="0" cellpadding="0">
                <tr>
                  <td width="4%" height="34">&nbsp;</td>
                  <td width="92%" class="white_text2">Members Log In </td>
                  <td width="4%">&nbsp;</td>
                </tr>
                <tr>
                  <td height="1"></td>
                  <td height="1" bgcolor="#ffffff"></td>
                  <td height="1"></td>
                </tr>
                <tr>
                  <td>&nbsp;</td>
                  <td><table width="100%"  border="0" cellspacing="1" cellpadding="0">
                      <tr>
                        <td height="10" colspan="2"></td>
                        </tr>
                      <tr>
                        <td width="35%" align="right" class="black_text">UserId:</td>
                        <td width="65%">
                            <input type="text" name="textfield">
                        </td>
                      </tr>
                      <tr>
                        <td align="right" class="black_text">Password:</td>
                        <td>
                            <input type="text" name="textfield2">
                        </td>
                      </tr>
                      <tr>
                        <td>&nbsp;</td>
                        <td>
                            <input type="checkbox" name="checkbox" value="checkbox">
                            <span class="text">Remember me</span>
                        </td>
                      </tr>
                      <tr>
                        <td>&nbsp;</td>
                        <td><a href="#" class="content_red_text">Forgot your password?</a></td>
                      </tr>
                      <tr align="center">
                        <td height="30" colspan="2">
                            <input name="Submit" type="submit" class="login_button" value="LOG IN">
                        </td>
                      </tr>
                  </table></td>
                  <td>&nbsp;</td>
                </tr>
              </table>              </td>
          </tr>
        </table></td>
      </tr>
      <tr>
        <td>&nbsp;</td>
        <td height="35" align="right"><a href="/home" class="main_link_highlight">Home</a> <span class="main_link">|</span>  <a href="/about_us" class="main_link">About Us</a> <span class="main_link">|</span> <a href="/contact_us" class="main_link">Contact Us</a></td>
      </tr>
    </table></td>
  </tr>
  <tr>
    <td width="26">&nbsp;</td>
    <td width="948"><table width="100%"  border="0" cellspacing="0" cellpadding="0">
      <tr>
        <td width="71%">&nbsp;</td>
        <td width="2%">&nbsp;</td>
        <td width="27%">&nbsp;</td>
      </tr>
      <tr>
        <td valign="top"><table width="100%"  border="0" cellspacing="0" cellpadding="0">
          <tr>
            <td><img src="/images/contact_header.jpg" width="533" height="34"></td>
          </tr>
          <tr>
            <td height="10"></td>
          </tr>
          <tr>
            <td height="240" class="content_text" style="border:2px solid #cece9d; "><table width="100%"  border="0" cellspacing="0" cellpadding="0">
              <tr>
                <td width="5%">&nbsp;</td>
                <td width="54%"><strong>BULLDOG Tennis Academy</strong> <br>
                  <br>
Mobile :- +91 99000 00604 <br>
<a href="mailto:enquiry@bulldogtennisacademy.com"><br>
</a>email :- <a href="mailto:enquiry@bulldogtennisacademy.com">enquiry@bulldogtennisacademy.com </a></td>
                <td width="41%" align="center"><img src="/images/contact_img.jpg" width="194" height="127"></td>
              </tr>
            </table></td>
          </tr>
          
        </table></td>
        <td>&nbsp;</td>
        <td valign="top"><table width="100%"  border="0" cellspacing="0" cellpadding="0">
          <tr>
            <td width="395" height="128" align="center" background="/images/bg1.jpg"><a href="/users/new"><img src="/images/new_register.jpg" width="224" height="127"></a></td>
          </tr>
          <tr>
            <td>&nbsp;</td>
          </tr>
          <tr>
            <td><img src="/images/ad3.jpg" width="252" height="140"></td>
          </tr>
        </table></td>
      </tr>
      <tr>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
      </tr>
    </table></td>
    <td width="26">&nbsp;</td>
  </tr>
  <tr>
    <td bgcolor="#666666">&nbsp;</td>
    <td height="41" bgcolor="#666666"><table width="100%"  border="0" cellspacing="0" cellpadding="0">
      <tr>
        <td height="10" colspan="2"></td>
      </tr>
      <tr>
        <td width="64%" align="left"><a href="/home" class="footer_link">Home</a> <span class="footer_link">|</span>  <a href="/about_us" class="footer_link">About Us</a> <span class="footer_link">|</span> <a href="#" class="footer_link">Contact Us</a></td>
        <td width="32%" align="right" class="copyright_text">Copyright &copy; 2009, Bulldog Tennis League. </td>
        </tr>
      <tr>
        <td height="10" colspan="2"></td>
      </tr>
    </table></td>
    <td bgcolor="#666666">&nbsp;</td>
  </tr>
</table>
</body>
</html>
