<div style="fontsize=12px;font-weight:bold;">
<p>Please enter your email-id</p>
</div>
<% form_for(:user, :url => {:controller => 'users', :action => 'forgot_password'}, :html => { :multipart => true }) do |f| %> 
<table>
        <tr>
                <td>Email:</td>
                <td><%= f.text_field :email %></td>
        </tr>
        </table>
<br>
<%= submit_tag "Submit" , :class => "send_button" %>
<% end %>
</div>